:root {
  --dark-primary: #8e9aaf;
  --dark-secondary: #cbc0d3;
  --dark-base: #677791;
  --main-primary: #efd3d7;
  --main-secondary: #feeafa;
  --light-primary: #dee2ff;
  --light-secondary: #f0ead2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--dark-primary);
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  flex-direction: column;
  color: var(--light-secondary);
}

.title {
  margin: 20px;
  font-size: 3rem;
}

.container {
  color: var(--light-primary);
  font-size: 1.5rem;
  margin: 10px 0;
  width: 440px;
  display: flex;
  justify-content: space-between;
}

.subtext {
  font-size: 1.5rem;
  font-weight: 600;
  /* margin-left: 1rem; */
}

.minetext {
  display: flex;
  flex-direction: row;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), 40px);
  grid-template-rows: repeat(var(--size), 40px);
  gap: 4px;
  background-color: var(--main-primary);
  border-radius: 10px;
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid var(--main-secondary);
  user-select: none;
  border-radius: 5px;
}

.board > [data-status="hidden"] {
  background-color: var(--main-secondary);
  cursor: pointer;
}

.board > [data-status="mine"] {
  background-color: var(--main-secondary);
}

.board > [data-status="number"] {
  background-color: none;
}

.board > [data-status="marked"] {
  background-color: var(--main-secondary);
}

.data-mine-count {
  margin-left: 0.1em;
}

button {
  text-align: center;
  border-radius: 60px;
  white-space: nowrap;
  width: 8em;
  cursor: pointer;
  position: relative;
  margin: 0 0.3rem 1rem;
  padding: 0.6rem;
  border: 3px solid var(--dark-base);
}

#new-game-button {
  color: var(--light-secondary);
  background-color: var(--dark-base);
  font-size: 1.2rem;
  font-weight: 600;
}
